[submodule "SVLib"]
	path = SVLib
	url = git@github.com:siliscale/SVLib.git

[submodule "open-decode-tables"]
	path = open-decode-tables
	url = git@github.com:siliscale/open-decode-tables.git
[submodule "ebpf-iss"]
	path = ebpf-iss
	url = git@github.com:siliscale/ebpf-iss.git
